<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#2196F3">
    <title>PRIYA @ 25</title>

    <!-- CSS  -->
    <link href="css/anim.css" type="text/css" rel="stylesheet">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="min/custom-min.css" type="text/css" rel="stylesheet" >
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" rel="stylesheet" >
    <link href="min/carousel.css" type="text/css" rel="stylesheet" >
  <link rel="stylesheet" href="bower_components/timelinejs/dist/css/timeline.min.css" />  
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>

</head>
<body id="body" class="scrollspy" ng-app="myApp1">

<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">#Priya@25</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#sarupriya">Priya & Saru</a></li>
                    <li><a href="#work"></a></li>
                    <li><a href="#team"></a></li>
                    <li><a href="#contact"></a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#sarupriya">Priya & Saru</a></li>
                    <li><a href="#work"></a></li>
                    <li><a href="#team"></a></li>
                    <li><a href="#contact"></a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="background-color:#19A702 ">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
         </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <h1 class="text_h center header cd-headline letters type">
            <span class="cd-words-wrapper waiting">
                <b class="is-visible">HAPPY BIRTHDAY BABY :)</b>
                <b>Have a great year!</b>
                <b>Priya turns 25!</b>
            </span>
                </h1>
            </div>

            <div class="item">
                <canvas id="myCanvas" class="canvas"></canvas>
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


<div class="section" id="sarupriya" style="background:#FFFFFF">
        <h2 class="header text_b">Priya & Saru </h2>
<div class="section-list-box">
            <div class="timeline-container timeline-theme-2">
              <div class="timeline timeline-small-box timeline-3 timelinecard">

<div data-time="1"><div class="timeline-visual">
                    <img src="img/1.JPG">
                  </div>
                  <div class="timeline-detail">
                   <h4>Birth day baby..</h4>
                      </div></div>

<div data-time="2"><div class="timeline-visual">
                    <img src="img/2.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Laddooo..</h4>
                  </div></div>
<div data-time="3"><div class="timeline-visual">
    <img src="img/3.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Mesmerizing..</h4>
                  </div></div>
<div data-time="4"><div class="timeline-visual">
    <img src="img/4.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Daddy's girl..</h4>
                  </div></div>
<div data-time="5"><div class="timeline-visual">
    <img src="img/5.jpg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Always talking..</h4>
                  </div></div>
<div data-time="6"><div class="timeline-visual">
    <img src="img/6.jpg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Hair style..</h4>
                  </div></div>                
<div data-time="7"><div class="timeline-visual">
    <img src="img/7.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Beauty..</h4>
                  </div></div>  
<div data-time="8"><div class="timeline-visual">
    <img src="img/8.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Remember the spot? Guess what you were thinking..</h4>
                  </div></div>  
<div data-time="9"><div class="timeline-visual">
    <img src="img/9.jpg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Love failure..</h4>
                  </div></div>  
<div data-time="10"><div class="timeline-visual">
    <img src="img/10.jpg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Who is she looking at?</h4>
                  </div></div>  
<div data-time="11"><div class="timeline-visual">
    <img src="img/12.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Birth day girl..</h4>
                  </div></div>  
        <div data-time="12"><div class="timeline-visual">
            <img src="img/13.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>The way she loooks.. aaaahhhh</h4>
                  </div></div>            
                  <div data-time="13"><div class="timeline-visual">
                      <img src="img/14.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>peii..</h4>
                  </div></div>  
                  <div data-time="14"><div class="timeline-visual">
                      <img src="img/15.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>So many friends..</h4>
                  </div></div>  
                  <div data-time="15"><div class="timeline-visual">
                      <img src="img/16.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>adada..</h4>
                  </div></div>  
                  <div data-time="16"><div class="timeline-visual">
                      <img src="img/17.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Doll..</h4>
                  </div></div>  
                  <div data-time="17"><div class="timeline-visual">
                      <img src="img/18.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Padikkama aatama aadra? iru maati vudren </h4>
                  </div></div>  
                  <div data-time="18"><div class="timeline-visual">
                      <img src="img/19.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Ayyo paavam</h4>
                  </div></div>  
                  <div data-time="19"><div class="timeline-visual">
                      <img src="img/20.jpeg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Ssssspppp.. </h4>
                  </div></div>  
                  <div data-time="20"><div class="timeline-visual">
                      <img src="img/21.jpeg">
                  </div>
                  <div class="timeline-detail">
                      <h4>You're next..</h4>
                  </div></div>
                  <div data-time="21"><div class="timeline-visual">
                      <img src="img/22.jpeg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Romantic look..</h4>
                  </div></div>
                  <div data-time="22"><div class="timeline-visual">
                      <img src="img/23.jpg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Best thing is, she's got an awesome boyfriend.</h4>
                  </div></div>
                  <div data-time="23"><div class="timeline-visual">
                      <img src="img/24.jpg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Birth day na pudhu dress kekudho?</h4>
                  </div></div>
                  <div data-time="24"><div class="timeline-visual">
                      <img src="img/25.jpeg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Pose ah paaru.</h4>
                  </div></div>
                  <div data-time="25"><div class="timeline-visual">
                      <img src="img/26.jpg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Nethila kodu.. Saru is finished..</h4>
                  </div></div>
                  <div data-time="26"><div class="timeline-visual">
                      <img src="img/27.png">
                  </div>
                  <div class="timeline-detail">
                      <h4>Periya Da vinci.. Painting kekudhu.</h4>
                  </div></div>
                  <div data-time="27"><div class="timeline-visual">
                      <img src="img/28.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>This guy is awesome.</h4>
                  </div></div>
                  <div data-time="28"><div class="timeline-visual">
                      <img src="img/29.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Awesome he is..  </h4>
                  </div></div>  
                  <div data-time="29"><div class="timeline-visual">
                      <img src="img/30.jpeg">
                  </div>
                  <div class="timeline-detail">
                      <h4>Mass guy..</h4>
                  </div></div>  
                  <div data-time="30"><div class="timeline-visual">
                      <img src="img/31.JPG">
                  </div>
                  <div class="timeline-detail">
                      <h4>Look at his face.. Marana bayam..</h4>
                  </div></div>                    
                  
              </div>
            </div><!-- /.timeline-container -->
          </div><!-- /.section-list-box -->

</div>

<br/><br/><br/>

<!--Parallax-->
<div class="parallax-container">
    <div class="parallax"><img src="img/11.JPG"></div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy" ng-controller="MsgController">
    <div class="container">  
        <div class="row">
            <div class="col l6 s12">
                <form class="col s12" method="post">
                    <div class="row" ng-model = "message">
                        <div class="input-field col s6">
                            <i class="mdi-action-account-circle prefix white-text"></i>
                            <input id="icon_prefix" name="name" type="text" class="validate white-text" ng-model="message.name">
                            <label for="icon_prefix" class="chatText white-text">First Name</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="mdi-communication-email prefix white-text"></i>
                            <input id="icon_email" name="email" type="email" class="validate white-text" ng-model="message.email">
                            <label for="icon_email" class="chatText white-text">Email-id</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="mdi-editor-mode-edit prefix white-text"></i>
                            <textarea id="icon_prefix2" name="message" class="materialize-textarea white-text" ng-model="message.text"></textarea>
                            <label for="icon_prefix2" class="chatText white-text">Message</label>
                        </div>
                        <div class="col offset-s7 s5">
                            <button class="btn waves-effect waves-light red darken-1" type="submit" ng-click="submitMessage(message)">Submit
                                <i class="mdi-content-send right white-text"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
           <div class="col l6 s12 chatText custom-chatbox" style="max-height: 200px;overflow-y: scroll;">
                <ul class="demo-list-item mdl-list" ng-model="messages">
  <li class="mdl-list__item mdl-list__item-primary-content" ng-repeat="msg in messages">
  <strong style="font-weight: 900;font-size: 17px;">{{msg.name}}</strong> (<small>{{msg.email}}</small>) :<br> {{msg.text}}<br><br>
  </li>
</ul>
            </div>
                  </div>
    </div>
    <div class="footer-copyright default_color">
        <div class="container">
            Made by <a class="white-text" href="https://www.facebook.com/saravanan.sampath.75">Saravanan</a>
        </div>
    </div>
</footer>
    <!--  Scripts-->

    <script src="min/plugin-min.js"></script>
    <script src="min/custom-min.js"></script>
    <script src="js/messages.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="bower_components/timelinejs/dist/js/timeline.min.js"></script>
    <script type="text/javascript">
      $(function(){
        $('.js-timeline').Timeline();
        $('.timeline-3').Timeline({
          autoplay: true,
          mode: 'horizontal'
        });
      });
    </script>
     <script src="js/anim.js"></script>
    </body>
</html>
